<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fang.DAO.RefreshPlanMapper">
  <resultMap id="BaseResultMap" type="com.fang.model.RefreshPlan">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="caseId" jdbcType="INTEGER" property="caseid" />
    <result column="companyId" jdbcType="INTEGER" property="companyid" />
    <result column="refreshTime" jdbcType="TIMESTAMP" property="refreshtime" />
    <result column="createTime" jdbcType="TIME" property="createtime" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="soufunId" jdbcType="INTEGER" property="soufunid" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <resultMap id="PagesResultMap" type="com.fang.model.RefreshPlan">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="caseId" jdbcType="INTEGER" property="caseid" />
    <result column="companyId" jdbcType="INTEGER" property="companyid" />
    <result column="refreshTime" jdbcType="TIMESTAMP" property="refreshtime" />
    <result column="createTime" jdbcType="TIME" property="createtime" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="soufunId" jdbcType="INTEGER" property="soufunid" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />

    <result column="count" jdbcType="INTEGER" property="count" />

    <result column="pageCount" jdbcType="INTEGER" property="pageCount" />
    <result column="pageSize" jdbcType="INTEGER" property="pageSize" />
    <result column="pageNO" jdbcType="INTEGER" property="pageNO" />

  </resultMap>
  <sql id="Base_Column_List">
    id, caseId, companyId, refreshTime, createTime, state, soufunId, remark
  </sql>
<!--查找全部的刷新计划-->
  <select id="selectAllRefreshPlans" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List" />
  from refreshPlan
</select>
  <!--分页查找刷新计划-->
  <select id="selectRefreshPlanPage" parameterType="com.fang.model.RefreshPlan" resultMap="PagesResultMap">
    select
    <include refid="Base_Column_List" />
  ,(select count(id) from refreshPlan) as count
     from refreshPlan limit #{fromIndex,jdbcType=INTEGER},#{toIndex,jdbcType=INTEGER}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from refreshPlan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from refreshPlan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fang.model.RefreshPlan">
    insert into refreshPlan (id, caseId, companyId, 
      refreshTime, createTime, state, 
      soufunId, remark)
    values (#{id,jdbcType=INTEGER}, #{caseid,jdbcType=INTEGER}, #{companyid,jdbcType=INTEGER}, 
      #{refreshtime,jdbcType=TIMESTAMP}, #{createtime,jdbcType=TIME}, #{state,jdbcType=VARCHAR}, 
      #{soufunid,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fang.model.RefreshPlan">
    insert into refreshPlan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="caseid != null">
        caseId,
      </if>
      <if test="companyid != null">
        companyId,
      </if>
      <if test="refreshtime != null">
        refreshTime,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="soufunid != null">
        soufunId,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="caseid != null">
        #{caseid,jdbcType=INTEGER},
      </if>
      <if test="companyid != null">
        #{companyid,jdbcType=INTEGER},
      </if>
      <if test="refreshtime != null">
        #{refreshtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIME},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="soufunid != null">
        #{soufunid,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fang.model.RefreshPlan">
    update refreshPlan
    <set>
      <if test="caseid != null">
        caseId = #{caseid,jdbcType=INTEGER},
      </if>
      <if test="companyid != null">
        companyId = #{companyid,jdbcType=INTEGER},
      </if>
      <if test="refreshtime != null">
        refreshTime = #{refreshtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIME},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="soufunid != null">
        soufunId = #{soufunid,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fang.model.RefreshPlan">
    update refreshPlan
    set caseId = #{caseid,jdbcType=INTEGER},
      companyId = #{companyid,jdbcType=INTEGER},
      refreshTime = #{refreshtime,jdbcType=TIMESTAMP},
      createTime = #{createtime,jdbcType=TIME},
      state = #{state,jdbcType=VARCHAR},
      soufunId = #{soufunid,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>